.Navbar {
  display: flex;
  justify-content: flex-start;
  height: 7vh;
  align-items: center;
}

.logo {
  background-color: lightgray;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 20px;
  padding: 0 20px;
  font-family: Roboto, sans-serif;
  height: 100%;
}

.logo a {
  text-decoration: none;
  color: black;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider {
  display: inline-block;
  width: 400px;
  margin: 10px 20px;
}

.select-container {
  margin-left: auto;
  margin-right: 10px;
}

.MuiMenuItem-root-318 {
  font-size: 8px;
}

.rc-slider-track {
  background-color: transparent;
}
.rc-slider-rail {
  height: 7px;
}
.rc-slider-handle,
.rc-slider-handle:focus,
.rc-slider-handle:active,
.rc-slider-handle:hover {
  outline: none;
  border: 2px solid green;
  box-shadow: none;
  background-color: green;
  width: 15px;
  height: 15px;
  margin-top: -4px;
}
